enocean-in-out-flow.json
[{"id":"42ec8800.bd1378","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"50","bin":"bin","out":"time","addchar":"false"},{"id":"bc096ef4.43f69","type":"serial out","name":"enocean out","serial":"42ec8800.bd1378","x":830,"y":331,"z":"bf2f4ab8.40d0b8","wires":[]},{"id":"f3b7ec3a.0c481","type":"serial in","name":"EnOcean","serial":"42ec8800.bd1378","x":100,"y":180,"z":"bf2f4ab8.40d0b8","wires":[["3800d01b.c7ff3"]]},{"id":"4dc4c260.b23b3c","type":"function","name":"EnOcean Dispatcher","func":"  // Update mobi ui\nif(msg.ID==\"002498a1\" && msg.rocker==\"A\"){\n\tmsg.payload = {id:\"tsw-1\", v:msg.state}; \n\tdelete msg.type; delete msg.state; delete msg.rocker; \n\tdelete msg.ID;\n\treturn [msg, null];\n  \n  // Realy on Piface\n} else if(msg.ID==\"0011b48b\" && msg.rocker==\"B\"){\n\tmsg.payload = msg.state; \n\tdelete msg.type; delete msg.state; delete msg.rocker; \n\tdelete msg.ID;\n\treturn [null, msg];\n\n} else {\n\tmsg.payload = null;\n\treturn [null, null];\n}","outputs":"2","x":594,"y":176,"z":"bf2f4ab8.40d0b8","wires":[["17383ea1.e8c7c1"],[]]},{"id":"17383ea1.e8c7c1","type":"debug","name":"","active":false,"console":"false","complete":"true","x":797,"y":169,"z":"bf2f4ab8.40d0b8","wires":[]},{"id":"69e7adaf.961854","type":"debug","name":"EnOcean-in","active":true,"console":"false","complete":"true","x":567,"y":215,"z":"bf2f4ab8.40d0b8","wires":[]},{"id":"3800d01b.c7ff3","type":"EnOceanIN","name":"EnO-in","x":278,"y":180,"z":"bf2f4ab8.40d0b8","wires":[["69e7adaf.961854","4dc4c260.b23b3c"],["f5826b93.0a7d98"]]},{"id":"5587ed0c.aa7814","type":"EnOceanOut","topic":"","name":"EnO-out","x":574,"y":333,"z":"bf2f4ab8.40d0b8","wires":[["bc096ef4.43f69"]]},{"id":"e8c46f50.173b9","type":"function","name":"get baseID","func":"                      //  55   00   01   00   05   70   08   38\n//var stel = new Buffer ([0x55,0x00,0x01,0x00,0x05,0x70,0x08,0x38]);\n//msg.payload=stel;\nmsg.action = \"getBaseID\";\nreturn msg;","outputs":1,"x":310,"y":390,"z":"bf2f4ab8.40d0b8","wires":[["5587ed0c.aa7814"]]},{"id":"a61c2d88.59e3d","type":"inject","name":"Get baseID","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":134,"y":390,"z":"bf2f4ab8.40d0b8","wires":[["e8c46f50.173b9"]]},{"id":"f5826b93.0a7d98","type":"debug","name":"EnOcean - BaseID","active":false,"console":"false","complete":"true","x":586,"y":250,"z":"bf2f4ab8.40d0b8","wires":[]},{"id":"fbc66b38.043998","type":"comment","name":"Send telegrams to actuators","info":"","x":370,"y":312,"z":"bf2f4ab8.40d0b8","wires":[]},{"id":"6295fd64.9d6a04","type":"comment","name":"EnOcean Recive and Transmit nodes","info":"","x":191,"y":61,"z":"bf2f4ab8.40d0b8","wires":[]},{"id":"f3a86a7f.0c5798","type":"comment","name":"Get baseID of Gateway","info":"","x":147,"y":446,"z":"bf2f4ab8.40d0b8","wires":[]}]
