node-red-contrib-enocean-in-out-flow-0-1.json
[{"id":"42ec8800.bd1378","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"50","bin":"bin","out":"time","addchar":"false"},{"id":"fbc66b38.043998","type":"comment","name":"Send telegrams to actuators","info":"","x":646,"y":200,"z":"bf2f4ab8.40d0b8","wires":[]},{"id":"6295fd64.9d6a04","type":"comment","name":"EnOcean Recive and Transmit nodes","info":"","x":786,"y":34,"z":"bf2f4ab8.40d0b8","wires":[]},{"id":"f3a86a7f.0c5798","type":"comment","name":"Get baseID of Gateway","info":"","x":185,"y":71,"z":"bf2f4ab8.40d0b8","wires":[]},{"id":"3b67b58a.c4984a","type":"serial out","name":"enocean out","serial":"42ec8800.bd1378","x":853,"y":166,"z":"bf2f4ab8.40d0b8","wires":[]},{"id":"24934bd5.db6cb4","type":"serial in","name":"EnOcean","serial":"42ec8800.bd1378","x":147,"y":289,"z":"bf2f4ab8.40d0b8","wires":[["b975f072.468a1"]]},{"id":"b14350c5.4ebcb","type":"function","name":"EnOcean Dispatcher","func":"  // Update mobi ui\nif(msg.ID==\"002498a1\" && msg.rocker==\"A\"){\n\tmsg.payload = {id:\"tsw-1\", v:msg.state}; \n\tdelete msg.type; delete msg.state; delete msg.rocker; \n\tdelete msg.ID;\n\treturn [msg, null];\n  \n  // Realy on Piface\n} else if(msg.ID==\"0011b48b\" && msg.rocker==\"B\"){\n\tmsg.payload = msg.state; \n\tdelete msg.type; delete msg.state; delete msg.rocker; \n\tdelete msg.ID;\n\treturn [null, msg];\n\n} else {\n\tmsg.payload = null;\n\treturn [null, null];\n}","outputs":"2","x":625,"y":285,"z":"bf2f4ab8.40d0b8","wires":[["c9951b94.366ae8"],[]]},{"id":"c9951b94.366ae8","type":"debug","name":"","active":true,"console":"false","complete":"true","x":828,"y":279,"z":"bf2f4ab8.40d0b8","wires":[]},{"id":"e5e1bd44.1a1e4","type":"debug","name":"EnOcean-in","active":true,"console":"false","complete":"true","x":598,"y":324,"z":"bf2f4ab8.40d0b8","wires":[]},{"id":"b975f072.468a1","type":"EnOceanIN","name":"EnO-in","x":309,"y":289,"z":"bf2f4ab8.40d0b8","wires":[["e5e1bd44.1a1e4","b14350c5.4ebcb"],["b86df32e.47921"]]},{"id":"f86d2985.0792d8","type":"EnOceanOut","topic":"","name":"EnO-out","x":591,"y":163,"z":"bf2f4ab8.40d0b8","wires":[["3b67b58a.c4984a"]]},{"id":"90025f30.6ffda","type":"function","name":"get baseID","func":"                      //  55   00   01   00   05   70   08   38\n//var stel = new Buffer ([0x55,0x00,0x01,0x00,0x05,0x70,0x08,0x38]);\n//msg.payload=stel;\nmsg.action = \"getBaseID\";\nreturn msg;","outputs":1,"x":326,"y":113,"z":"bf2f4ab8.40d0b8","wires":[["f86d2985.0792d8"]]},{"id":"6406221c.9bf9dc","type":"inject","name":"Get baseID","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":162,"y":113,"z":"bf2f4ab8.40d0b8","wires":[["90025f30.6ffda"]]},{"id":"b86df32e.47921","type":"debug","name":"EnOcean - BaseID","active":false,"console":"false","complete":"true","x":617,"y":359,"z":"bf2f4ab8.40d0b8","wires":[]},{"id":"cd9c5d40.3263a","type":"inject","name":"","topic":"","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":168,"y":196,"z":"bf2f4ab8.40d0b8","wires":[["3bc6a328.c4395c"]]},{"id":"3bc6a328.c4395c","type":"function","name":"Toggle","func":"context.ch1State = context.ch1State || 0;  \nif(context.ch1State==0){\n\tcontext.ch1State = 1;\n} else {\n\tcontext.ch1State = 0;\n}\nmsg.action = \"setSW\"; \t\t// send EnOcean switch telegram\nmsg.channel = 0x01;   \t\t// send on channel 1\nmsg.state= context.ch1State;// Toggle actuator\nreturn msg;","outputs":1,"x":324,"y":195,"z":"bf2f4ab8.40d0b8","wires":[["f86d2985.0792d8"]]}]
